.project-card {
    height: 300px;
  }
  
  
  .sotcox-project-section {
    position: relative;
  }
  
  .sotcox-project-section .small-shape {
    position: absolute;
  }
  
  .sotcox-project-section .small-shape__1 {
    left: 4%;
    top: 10%;
    animation: shapeDownLeft 2s linear infinite alternate;
  }
  
  .sotcox-project-section .small-shape__2 {
    left: auto;
    right: 8%;
    top: 10%;
    animation: shapeTopLeft 2s linear infinite alternate;
  }
  
  .sotcox-project-section .small-shape__3 {
    left: 6%;
    top: auto;
    bottom: 10%;
    animation: shapeTopLeft 2s linear infinite alternate;
  }
  
  .sotcox-project-section .small-shape__4 {
    left: auto;
    right: 8%;
    top: auto;
    bottom: 12%;
    animation: shapeDownLeft 2s linear infinite alternate;
  }
  
  .sotcox-project-section__style-2 .content-left-wrapper {
    border: 1px solid #E6EEFB;
    padding: 7px;
    text-align: center;
    border-radius: 40px;
  }
  
  @media (max-width: 1199px) {
    .sotcox-project-wrapper {
      margin-top: 60px;
    }
  }
  
  .sotcox-project-filter {
    gap: 10px;
    flex-wrap: wrap;
  }
  
  .sotcox-project-filter li {
    /* font-family: "Archivo", sans-serif; */
    font-size: 14px;
    border-radius: 5px;
    padding: 1px 13px;
    border: 1px solid #7af3c5;
    cursor: pointer;
    text-transform: capitalize;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    color: #bbc1ce;
  }
  
  .sotcox-project-filter li.active,
  .sotcox-project-filter li:hover {
    background: #78f0c3;
    color: #ffffff;
    border-color: #78f0c3;
  }
  
  .sotcox-project-filter__style-2 {
    justify-content: center;
    gap: 0px;
  }
  
  .sotcox-project-filter__style-2 li {
    border-radius: 40px;
    color: #1B2E59;
    padding: 7px 40px;
    text-transform: uppercase;
    font-weight: 700;
    border-color: transparent;
  }
  
  .sotcox-project-filter__style-2 li:not(:last-child) {
    margin-right: 10px;
  }
  
  @media (max-width: 475px) {
    .content-left-wrapper {
      overflow: scroll;
      height: 94px;
    }
  
    .project-card {
      height: 400px;
    }
  
    .project-card p {
      width: 250px;
    }
  
    .project-card h4 {
      width: 250px;
    }
  
    .sotcox-project-filter__style-2 li:not(:last-child) {
      margin-right: 0px;
    }
  }
  
  .sotcox-project-filter__style-2 li:hover,
  .sotcox-project-filter__style-2 li.active {
    background: #4ddfbe;
    border-color: #4ddfbe;
  }
  
  .sotcox-project-item {
    position: relative;
    height: 100%;
  }
  
  .project-box {
    height: 100%;
    width: 500px;
  }
  
  .project-list {
    margin-left: 100px;
  }
  
  .sotcox-project-item:hover {
    box-shadow: 0 0 11px rgba(33, 33, 33, .2);
    transition: ease-in-out .3s;
  }
  
  .sotcox-project-item .thumb img {
    border-radius: 10px;
    /* width: 100%; */
  }
  
  .sotcox-project-item .content {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #ffffff;
    padding: 5px 0px;
    padding-bottom: 15px;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
  
  }
  
  
  .sotcox-project-item .content .title {
    font-size: 20px;
    text-transform: capitalize;
    margin-bottom: 2px;
  }
  
  .sotcox-project-item .content .title a {
    color: #1B2E59;
    /* font-family: "Archivo", sans-serif; */
  }
  
  .sotcox-project-item .content .cat {
    color: #4ddfbe;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
  }
  
  .sotcox-project-item .inline-btn {
    width: 41px;
    height: 41px;
    border: 1px solid #E6EEFB;
    border-radius: 50%;
    color: #1B2E59;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0;
    top: 50%;
    translate: 0px -50%;
    transform: rotate(-45deg);
  }
  
  .sotcox-project-item .inline-btn:hover {
    background: #4ddfbe;
    color: #ffffff;
    border-color: #4ddfbe;
  }
  
  .sotcox-project-item:hover .content {
    opacity: 1;
    visibility: visible;
  }
  
  .sotcox-project-item__style-2 .thumb img {
    border-radius: 0px 0px 10px 10px;
  }
  
  .sotcox-project-item__style-2 .content {
    border-radius: 10px 10px 0px 0px;
    position: relative;
    padding: 35px 40px;
    padding-bottom: 38px;
    opacity: 1;
    visibility: visible;
    border: 1px solid #E6EEFB;
    border-bottom: 0px;
  }
  
  @media (max-width: 475px) {
    .sotcox-project-item__style-2 .content {
      padding: 25px 20px;
      padding-bottom: 28px;
    }
  }
  
  .sotcox-project-item__style-2 .content .title {
    font-size: 24px;
    padding-right: 80px;
  }
  
  .sotcox-project-item__style-2 .inline-btn {
    font-size: 24px;
    height: 61px;
    width: 61px;
    right: 32px;
  }
  
  @media (max-width: 475px) {
    .sotcox-project-item__style-2 .inline-btn {
      right: 20px;
    }
  }
  
  /* PROJECT CSS END */